amqp==2.2.2
asn1crypto==0.24.0
bcrypt==3.1.4
billiard==3.5.0.3
boto3==1.4.7
botocore==1.7.48
-e git+https://github.com/CoinLQ/cdifflib@6ba2d7aff69de3800986107279e709a6b47fdee5#egg=cdifflib
celery==4.1.0
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
codecov==2.0.9
coreapi==2.3.3
coreschema==0.0.4
coverage==4.5.1
cryptography==1.7.1
diff-match-patch==20121119
Django==2.0.2
django-background-tasks==1.1.13
django-bootstrap3==9.1.0
django-bulk-update==2.2.0
-e git+https://github.com/celery/django-celery-beat@feaf34e2c30e28273b03d754d50e9a1d9f1191c6#egg=django_celery_beat
django-celery-results==1.0.1
django-compat==1.0.15
django-cors-headers==2.1.0
django-crispy-forms==1.7.0
django-extensions==1.8.1
django-filter==1.0.4
django-formtools==2.1
django-import-export==1.0.0
django-jsonfield==1.0.1
django-material==1.2.2
django-redis==4.6.0
django-rest-swagger==2.1.0
django-reversion==2.0.10
django-storages==1.6.5
djangorestframework==3.7.3
-e git+https://github.com/CoinLQ/django-rest-framework-jwt@1862aba2e498304ae8b9236aab863ec021eedfad#egg=djangorestframework_jwt
docutils==0.14
dotmap==1.2.20
et-xmlfile==1.0.1
Fabric3==1.13.1.post1
flake8==3.4.1
future==0.16.0
httplib2==0.9.2
idna==2.6
itypes==1.1.0
jdcal==1.3
Jinja2==2.10
jmespath==0.9.3
-e git+https://github.com/CoinLQ/jwt_auth@64a96e548061787636dd30257730411a35d62cb7#egg=jwt_auth
kombu==4.1.0
MarkupSafe==1.0
mccabe==0.6.1
numpy==1.13.1
odfpy==1.3.6
openapi-codec==1.3.2
openpyxl==2.5.0
paramiko==2.4.0
Pillow==3.4.2
psycopg2==2.7.4
psycopg2-binary==2.7.4
pyasn1==0.4.2
pycodestyle==2.3.1
pycparser==2.18
pycurl==7.43.0
pyflakes==1.5.0
PyJWT==1.5.3
PyNaCl==1.2.1
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
redis==2.10.6
requests==2.18.4
s3transfer==0.1.13
simplejson==3.13.2
six==1.10.0
SQLAlchemy==1.1.15
tablib==0.12.1
unicodecsv==0.14.1
Unipath==1.1
uritemplate==3.0.0
urllib3==1.22
vine==1.1.4
virtualenv==15.1.0
-e git+https://github.com/sshwsfc/xadmin@b655aa752ec7c1a9485b205617ba27ecdd6f3c3c#egg=xadmin
xlrd==1.1.0
xlwt==1.3.0
